
<h1> Buscando: <small>{{termino}}</small> </h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el término: {{termino}}
        </div>
    </div>
</div>

<div class="card-columns">
      <!-- seccion 4 - 65 output-->
      <!--
      <app-heroe-tarjeta [heroe]="foo" [index]="i" *ngFor="let foo of heroes; let i = index"></app-heroe-tarjeta>
      -->

      <app-heroe-tarjeta [heroe]="foo" [index]="foo.idx" *ngFor="let foo of heroes"></app-heroe-tarjeta>    

      <!--
      <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
            <div style="border-style: groove; border-width: 3px; width:45%;   height:200px; margin-left:30%; margin-top:40px !important;"></div>
            <div class="card-body">
              <h5 class="card-title">{{heroe.nombre}}</h5>
              <p class="card-text">{{heroe.bio}}</p>
              <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
              <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block">
                Ver más...
              </button>
            </div>
      </div>
      -->
</div>
